@charset "utf-8";

/* 스타워즈 PJ : 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import url("https://use.typekit.net/jyj1can.css");

/* 
1. 본문, 한글, 숫자: 프리텐다드

font-family: "Pretendard Variable",Pretendard, apple-system, system-ui, Roboto, sans-serif;
*/

html {
    font-family:'Pretendard Variable',sans-serif;
    font-size: 10px;
    color: #fff;
}

/* 플렉스 박스 설정 */
.fx-box{
    display: flex;
    /* flex-wrap: wrap; */
}

/* 그리드 박스 설정 */
.gr-box{
  display: grid;
}



/*************  박스 공통 설정 *************/
/* 섹션 상단 여백 */
.section-top{
    padding-top: 5rem;
}

img{
    object-fit: cover;
  }

  /* 슬라이드 내 박스 설정 */

  .slider-wrap figcaption{
    text-align: justify;
    margin-top: -1rem;
    line-height: 2;
  }
  .slider-wrap ul{
    gap: 0 2rem;
  }
  .slider-wrap img{
    width: 100%;
  }
  
  /*************  텍스트 공통 설정 *************/
  
  /* 텍스트 설정 */
  
  .title-topic{
    font-size: 1.8rem;
  }
  
  .title-sub{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  .title-sub2{
    text-align: justify;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.3;
  }
  .title{
    text-align: justify;
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .desc{
    text-align: justify;
    line-height: 1.5;
  }

  figcaption>.title-topic{
    margin-top: 20px;
  }
  
  figcaption>h4{
    /* margin-top: 20px; */
  }
  /* 링크설정 */
  .main-area > button a{
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFE400;
    text-decoration: none;
  }
  
  /*************  공통 꾸밈요소 *************/

/* 슬라이드 화살표 */
.abtn span{
  color: #ffffff;
}

  /* 블릿 */
  .bullet::before{
    content: '';
    display: block;

    border-radius: 2rem;

    width: 15px;
    height: 9px;
    background-color: #797979;
    margin-left: 114%;

  }
  .bullet{
    margin-bottom: 2rem;
    display: block;

    border-radius: 2rem;

    width: 45px;
    height: 9px;
    background-color: #797979;
  }

  /* 카테고리 메뉴 사이 바 */
  .bar-line{
    display: block;
    width: 1px;
    background-color: #797979;
  }

  .under-line{
    display: block;
    height: 1px;
    background-color: #797979;
  }
  /*************  버튼 공통 설정 *************/
  
  /* 버튼초기화 */
  button{
    cursor: pointer;
    margin: 0 2rem;
    background-color: transparent;
    border: transparent;
  }
  .btn-main a{
    color: #000;
  }
  
  .btn-main {
    height: 7vh;
    background-color: #FFE400;
    border-radius: 4.5vw;
    padding: 1vw;
    transition: .4s;
  }
  
  .btn-sub::after{
    content: '';
    width: 0;
    height: 100%;
    background-color: #FFE400;
    left: 0;
  }
  
  .btn-sub {
    height: 7vh;
    border: 1px solid #FFE400;
    border-radius: 4.5vw;
    box-sizing: border-box;
    padding: 1vw;
  }
  
  /* 버튼 on class */
  .btn-main.on {
    background-color: #FFF075;
    color: #000;
    transition: .4s;
  
  }
  
  .btn-sub.on::after{
    content: '';
    width: 100%;
  }
  


  /* [ 이미지호버액션 ] */
 
  /* 대상요소 부모자격 */
  .hover-img{
    position: relative;
    cursor: pointer;
  }
  /* 가상요소 */
.hover-img::after{
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0000007a;
  font-size: 5rem;
  font-weight: 500;
  text-shadow: 0px 0px 20px aqua;
  pointer-events: none;
  transition: 0.3s ease-out;
  opacity: 0;
}
.hover-img:hover::after{
  opacity: 1;
}

/* ///////////////////////////////////////// */

/* 공통 셋팅을 위한 클래스 */

/********* 공통 클래스 *********/

/* 임시표시타이틀 */
.temp-tit{
  position: absolute;
  font-size: 2vw;
  color: #ccc;
}
/* 중앙속박스 */
.inbox{
  /* 최대가로크기 */
  max-width: 1600px;
  padding: 0 20px;
  /* 블록박스 중앙정렬 -> 마.영.오! */
  margin: 0 auto;    
}

/* IR(Images Replacement) 
- 배경이미지 설명 숨기기 클래스 */
.ir{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* 스크롤바 디자인 클래스 */
/* -webkit- 밴더사명(크롬,사파리) 접두어 */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar{
  /* 전체 스크롤바 크기변경 */
  width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
  /* 스크롤바 */
  /* background-color: rgb(250, 222, 75); */
  background-color: aqua;
  border-radius: 5px;
}

.scbar::-webkit-scrollbar-track{
  /* 스크롤바 트랙 */
  background: linear-gradient( to bottom, black , rgb(16, 15, 72)50% );
  /* border-radius: 5px; */
}