@charset "utf-8";
/* 스타워즈 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);
/* 팀 공통 CSS */
@import url(./core.css);

/* 공사중 표시 */
body * {
  /* outline: rgba(204, 204, 204, 0.082) dashed 1px; */
}

html {
  scroll-behavior: smooth;
  /* #아이디명 스크롤 이동시 부드럽게 애니메이션 이동함! */
  font-size: 10px;
  /* rem계산시 쉽도록 10px */
}

body {
  overflow-x: hidden;
  /* 배경 */
  background: url(../images/main_images/star_night.jpg) no-repeat fixed left / cover;
}

.fx-box {
  /* 두개추가 */
flex-wrap: wrap;
justify-content: center;
}

/* 공유기능 요소 셋팅 */
/* 검정버튼 */
.btn {
/* 공통셋팅 */
font-size: 1.6rem;
font-weight: 400;
color: #ffe400;
text-decoration: none;

line-height: 2;
text-align: center;
display: block;
width: 100px;
height: 30px;
background-color: #000;
border-radius: 100px;
border: 1px solid #fade4b;
padding: 3px 10px;
margin: 0 10px;
}
/* 노랑버튼 */
.btn.yellow {
color: #222;
background-color: #fade4b;
}
.btn:hover {
color: #fff;
border: 1px solid #fff;
}
.btn.yellow:hover {
background-color: #fff075;
color: #000;
border: 1px solid #fade4b;
transition: 0.4s;
}
/* ///////////////////////////////////////// */
/* ***************배너영역*************** */
#ban-area {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

/* 배너플랙스박스 */
.ban_wrap {
  overflow: hidden;
  width: 200%;
  height: 100%;
  position: relative;
  display: flex;
  left: -0%;
  transition: 0.1s;
}

/* 배너박스 가상요소 */
.blur-wrap::after {
  content: 'Starlight Shared: Enjoy Star Wars together';
  position: absolute;
  color: #fff;
  display: block;
  top: 35%;
  left: 55%;
  font-size: 3.5rem;
  width: 15%;
  filter: drop-shadow(0px 0px 6px black);
  font-weight: bold;
/* 사용자정의 가상요소 js용  */
  scale: var(--scale,0.9);
  opacity: var(--opacity,0);
  transition: var(--transition,0.4s 0.2s);
}

/* 호버시 가상요소 */
  /* .blur-wrap:hover::after {
      opacity: 1;
      scale: 1;
  } */
  .blur-wrap:hover>img{
    scale: 1.1;
  }

/* 블러랩박스 */
.blur-wrap{
  overflow: hidden;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
/* 블러박스 */
.blur-box{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/main_images/news04.jpg) no-repeat center/ cover;
  filter: blur(50px);
}
/* 이미지박스 */
.blur-wrap>img {
  left: 25%;
  translate: -50%;
  position: relative;
  max-width: 2000px;
  height: 100%;
  object-fit: cover;

  transition: .8s ease-out;
}

/* 비디오부모박스 */
.ban-area.col-12 {
  
  /* 배너랩박스숨기기 */
  overflow: hidden;
  height: 100%;
  margin: 0px auto;
}
/* 영역채우기 */
video.video {
  /* left: 50%;
  translate: -50%; */
  flex-shrink: 0;
  position: relative;
  width: 50%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


/* 배너버튼 부모 */
.ban-btn{
  filter: drop-shadow(2px 4px 6px black);
  color: #fff;
  bottom: 40px;
  left: 2%;
  position: absolute;
  z-index: 100;
}
/* 배너버튼 공통 */
.banbtn{
  cursor: pointer;
  margin: 0 2px;
  border-radius: 10%;
  font-size: 1rem;
  transform: scaleY(1.5);
  display: inline-block;
  padding: 0 12px;
  vertical-align: center;
  line-height: 1.1;
}
/* 마우스드래그 표시  */
.ban-area .scroll_induce {
  border: 2px solid rgb(255, 255, 255);
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  position: absolute;
  z-index: 100;
  width: 20px;
  height: 30px;
}
.ban-area .scroll_induce::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  top: 4px;
  width: 2px;
  height: 8px;
  background-color: rgb(255, 255, 255);
  animation: scrollMove 2s infinite;
}

@keyframes scrollMove {
  0% {
    -webkit-transform: translate(-50%, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(-50%, 8px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* 동영상컨드롤러 */
.video_control {
  filter: drop-shadow(2px 2px 6px rgb(77, 77, 77));
  cursor: pointer;
  position: absolute;
  right: 2%;
  bottom: 40px;
  z-index: 100;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
/* 멈춰있을때 재생버튼 */
.video_control .pause {
  display: inline-block;
}
.on.video_control .pause{
  display: none;
}
/* 재생중일때 멈춤버튼 */
.video_control .play{
  display: none;
}
.on.video_control .play{
  display: inline-block;
}
/* ***************메인영역*************** */
#main-area {
  /* height: 10vh; */
}

/* 로딩애니 */
.intro_section {
  background: url(../images/main_images/star_night.jpg) no-repeat fixed left / cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  /* animation: star 2.5s linear 1s forwards;
   /* 임시 */
  display: none;
}

@keyframes star {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* ***************************3. 컨텐츠영역*************************** */

/* *************3-1. 컨텐츠영역(세계관)************* */

section.content-area {
  aspect-ratio: 1600 / 2124;
  background: linear-gradient(rgb(21, 7, 43), transparent 40%, black),
    url("../images/main_images/star_sword.png") center center / cover no-repeat;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

/* 대표제목 */
section.content-area > div:nth-of-type(1) {
  margin-top: 20%;
  flex-basis: 100%;
  color: rgb(255, 255, 255);
  font-size: min(6rem, 7vw);
  text-align: center;
}

h2.main_tit {
  text-shadow: black 0px 0px 10px;
  height: 100%;
  width: 100%;
}
/* 텍스트박스부모 */
.txt-content {
  
  backdrop-filter: hue-rotate(60deg);
  margin: 100px 50px;
  text-shadow: rgba(0, 0, 0, 0.47) 0px 2px 5px;
  position: relative;
  line-height: 1.5;
  padding: 20px;
  background: rgba(0, 0, 0, 0.71);
  display: flex;
  width: 400px;
  color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-grow: 0;
  height: fit-content;
}

.txt-content:hover{
  
  box-shadow: 0px 0px 40px #00ffff7a;
}
/* 텍스트박스 */
.txt-content > h2 {
  padding: 10px 0px;
  text-align: center;
  font-size: 2.5rem;
}

.txt-content > span {
  padding: 40px 0px;
  font-size: 1.3rem;
  text-align: justify;
}
/* *************3-2. 컨텐츠영역(뉴스)************* */

.news-area {
  margin: 0px auto;
  box-sizing: border-box;
  padding: 10px 50px;
  background: linear-gradient(rgb(0, 0, 0) 80%, transparent);
  width: 100%;
  color: rgb(255, 255, 255);
}
/* 왼쪽영역 */
.left-wrap {
  box-sizing: border-box;
  padding: 10px;
  flex: 1 1 40%;
}
/* 오른쪽영역 */
.right-wrap {
  position: relative;
  height: 85%;
  box-sizing: border-box;
  padding: 10px 50px;
  display: flex;
  flex-basis: 60%;
  flex-wrap: wrap;
  justify-content: center;
}
/* 뉴스의오른쪽영역은 패딩조절 */
.news-area.box.fx-box>.right-wrap {
  padding: 10px 0px;
}

/* 왼쪽박스 */
.left-box {
  width: 100%;
}
/* 오른쪽박스 */
.item-box {
  box-sizing: border-box;
  flex-basis: calc(100% / 3.05);
  width: 100%;
  padding: 40px 10px 0%;
}
/* 왼쪽이미지 */
.left-box > .left-img {
  border-radius: 5px;
  aspect-ratio: 960 / 680;
  background: url("../images/main_images/news01.jpg") center center / cover no-repeat;
  width: 100%;
}
/* 오른쪽이미지 */
.right-wrap .item-box > .series-img {
  border-radius: 5px;
  aspect-ratio: 960 / 680;
  width: 100%;
}


/* 오른쪽이미지 */
section.news-area > .right-wrap > .item-box > .series-img {
  aspect-ratio: 1688 / 2500;
  border-radius: 5px;
  min-width: 143.33px;
  
}


/* 아이템 이미지개별 */
.item-box:nth-of-type(1) > .series-img {
  background: url("../images/main_images/news02.jpg") center center / cover no-repeat;
}

.item-box:nth-of-type(2) > .series-img {
  background: url("../images/main_images/news03.jpg") center center / cover no-repeat;
}

.item-box:nth-of-type(3) > .series-img {
  background: url("../images/main_images/news04.jpg") center center / cover no-repeat;
}
/* 버튼박스 */
.btnbox {
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* 버튼 */
.right-wrap .btn {
  margin-bottom: 10px;
}

/* 뉴스 오른쪽박스 제목 */
.left-box > h2 {
  padding-bottom: 10px;
  font-size: 2rem;
}
/* 뉴스 왼쪽박스 제목 */
.right-wrap > h4 {
  font-size: 1.8rem;
  position: absolute;
  left: 0;
  padding: 0 10px;
}
/* 뉴스 아이템박스 텍스트 */
.right-wrap p.info {
  margin: 10px 3px;
  font-size: 1.3rem;

  /* 여러줄 말줄임표시 셋팅하기 */
  display: -webkit-box;
  overflow: hidden;
  /* 말줄임표시 */
  text-overflow: ellipsis;
  /* 보여줄 라인수 셋팅속성 */
  -webkit-line-clamp: 3;
  /* 라인진행방향 셋팅 */
  -webkit-box-orient: vertical;
}
/* *************3-3 컨텐츠영역(리스트)************* */

/* 리스트 박스 텍스트 말줄임표시 */
.item-box>span.info {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

section.news-area > .right-wrap {
  margin: 100px 0px;
}

/* 리스트 제목 */
section.news-area > .right-wrap > h4 {
  padding: 0px 60px;
  font-size: 2rem;
  position: absolute;
}
/* 아이템박스 개별 제목텍스트 */
section.news-area > .right-wrap p.info {
  font-size: 1.3rem;
  white-space: nowrap;
}
/* 마지막상자 텍스트 줄넘김 방지로 줄임 */
strong.title-topic:last-of-type {
  font-size: 1.6rem;
}

section.news-area > .right-wrap > .item-box {
  flex-basis: 25%;
}
/* 개별이미지 */
section.news-area > .right-wrap > .item-box:nth-of-type(1) > .series-img {
  background: url("../images/main_images/series_01.jpg") center center / cover
    no-repeat;
}

section.news-area > .right-wrap > .item-box:nth-of-type(2) > .series-img {
  background: url("../images/main_images/series_02.jpg") center center / cover
    no-repeat;
}

section.news-area > .right-wrap > .item-box:nth-of-type(3) > .series-img {
  background: url("../images/main_images/series_03.jpg") center center / cover
    no-repeat;
}

section.news-area > .right-wrap > .item-box:nth-of-type(4) > .series-img {
  background: url("../images/main_images/series_04.jpg") center center / cover
    no-repeat;
}

section.news-area > .right-wrap > .item-box:nth-of-type(5) > .series-img {
  background: url("../images/main_images/series_05.jpg") center center / cover
    no-repeat;
}

section.news-area > .right-wrap > .item-box:nth-of-type(6) > .series-img {
  background: url("../images/main_images/series_06.jpg") center center / cover
    no-repeat;
}

section.news-area > .right-wrap > .item-box:nth-of-type(7) > .series-img {
  background: url("../images/main_images/series_07.jpg") center center / cover
    no-repeat;
}

section.news-area > .right-wrap > .item-box:nth-of-type(8) > .series-img {
  background: url("../images/main_images/series_08.jpg") center center / cover
    no-repeat;
}
/* 버튼부모박스 */
section.news-area > .right-wrap .btnbox {
  /* flex-basis: 30%;
  scale: 1.5; */
}
/* 버튼 */

section.news-area > .right-wrap .btn {
  width: 140px;
  margin-bottom: 10px;
}

/* *************3-4 컨텐츠영역(하단배너)************* */
.visualView-ban {
  /* padding-top: 30vh; */
}
/* 하단배너 */
.visualView {
  border-radius: 5% 5% 1% 1%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 3000 / 1481;
  width: 100%;
  z-index: 0;
  display: flex;
  flex-flow: row;
}
/* 이미지박스 공통 */
.visualimg {
  height: 100%;
  width: 100%;
  background-position: left center;
  background-size: cover;
  filter: brightness(0.6);
  transition: all 0.3s ease-out 0.1s;
}
/* 이미지박스 개별 */
.visualimg:first-of-type {
  background-image: url("../images/main_images/sub1.png");
}

.visualimg:nth-of-type(2) {
  background-image: url("../images/main_images/sub2.png");
}

.visualimg:last-of-type {
  background-image: url("../images/main_images/sub3.png");
}
/* 겉박스호버시 0.1초 뒤 10% */
.visualView.fx-box:hover > .visualimg {
  width: 10%;
  transition: all 0.3s ease-out 0.1s;
}
/* 상위선택자로 덮기 -> 호버된요소 즉시 크기키움 */
section.visualView-ban .visualView .visualimg:hover {
  filter: brightness(1.1);
  width: 100%;
  transition: all 0.3s ease-out;
}

.visualimg > span {
  opacity: 0;
}
/* 이미지 호버시 글씨 */
.visualimg:hover > span {
  position: absolute;
  top: 20%;
  left: 50%;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: bold;
  opacity: 1;
  transition: opacity 1s ease 0.5s;
  z-index: 1;
  padding: 20px;
}
/* 상위선택자로 덮기 -> 마지막 이미지 글씨크기 변경 */
.visualView-ban .visualimg:nth-of-type(3):hover > span {
  color: rgb(0, 0, 0);
}

.visualimg > span > p:first-of-type {
  width: 90%;
  font-size: 1.2rem;
}

.visualimg > span > p:last-of-type {
  
  /* word-break: break-all; */
  width: 90%;
  line-height: 1.5;
  text-align: justify;
  font-size: 1.5rem;
  padding: 10px 0px;
}

/* 시리즈영역 클릭시 보일 가상요소( js로 on줘서 보이게하기) */
.item-box.on::before , .news-box.on::before {
 
  content: var(--content1);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000d3 var(--bg-image) no-repeat 10% center / 40%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 3rem;
  padding-left: 50%;
  padding-bottom: 20%;
  box-sizing: border-box;
  justify-content: flex-start;
  transition: opacity 0.3s;
  opacity: var(--opacity);
}

.item-box.on::after , .news-box.on::after{

  content:  var(--content2);
  position: fixed;
  text-align: justify;
  top: 50%;
  left: 50%;
  width: 40%;
  z-index: 1000;
  font-size: 1.3rem;
  line-height: 1.5;
  transition: opacity 0.3s;
  opacity: var(--opacity);
}

/* 보정 */
.news-box.on::before{
  
 
  font-size: min(6vh, 2.8rem);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.83) 60%), #000000d3 var(--bg-image) no-repeat -50vh center / auto 100vh;
  white-space: pre-line;
  padding-top: 10vh;
  padding-right: 5%;
  align-items: baseline;
}
.news-box.on::after{

  
  height: 62vh;
  font-size: 1.5rem;
  overflow-y: scroll;
  /* 스크롤바안보이게 (스크롤가능) */
  scrollbar-width: none;
  text-align: justify;
  top: 32vh;
  left: 50%;
  width: 45%;
}
