@charset "utf-8";
/* 스타워즈 PJ : 공통 클래스 CSS - core.css */

/* 팀 공통 core 충돌 보정 (팀core 아래서호출) */
html {
  /* text-align: -webkit-auto; */
}

.fx-box {
     /* 두개추가 */
  flex-wrap: wrap;
  justify-content: center;
}

img {
  /* border-radius: 0; */
}

a {
  /* font-size: 1rem; */
  /* color: #fff; */
}

/* 별도추가 */
body {
    /* 배경 */
    background: url(../images/main_images/star_night.jpg) no-repeat fixed left / cover;
  }


/* [ 이미지호버액션 ] */
 
  /* 대상요소 부모자격 */
.hover-img{
    position: relative;
    cursor: pointer;
  }
  /* 가상요소 */
.hover-img::after{
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0000007a;
  font-size: 5rem;
  font-weight: 500;
  text-shadow: 0px 0px 20px aqua;
  pointer-events: none;
  transition: 0.3s ease-out;
  opacity: 0;
}
.hover-img:hover::after{
  opacity: 1;
}


/* 공유기능 요소 셋팅 */

/* 검정버튼 */
.btn {
  /* 공통셋팅 */
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffe400;
  text-decoration: none;

  line-height: 2;
  text-align: center;
  display: block;
  width: 100px;
  height: 30px;
  background-color: #000;
  border-radius: 100px;
  border: 1px solid #fade4b;
  padding: 3px 10px;
  margin: 0 10px;
}
/* 노랑버튼 */
.btn.yellow {
  color: #222;
  background-color: #fade4b;
}
.btn:hover {
  color: #fff;
  border: 1px solid #fff;
}
.btn.yellow:hover {
  background-color: #fff075;
  color: #000;
  border: 1px solid #fade4b;
  transition: 0.4s;
}
/* ///////////////////////////////////////// */

/* 공통 셋팅을 위한 클래스 */

/********* 공통 클래스 *********/

/* 임시표시타이틀 */
.temp-tit{
    position: absolute;
    font-size: 2vw;
    color: #ccc;
}
/* 중앙속박스 */
.inbox{
    /* 최대가로크기 */
    max-width: 1600px;
    padding: 0 20px;
    /* 블록박스 중앙정렬 -> 마.영.오! */
    margin: 0 auto;    
}

/* IR(Images Replacement) 
- 배경이미지 설명 숨기기 클래스 */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 스크롤바 디자인 클래스 */
/* -webkit- 밴더사명(크롬,사파리) 접두어 */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: #555;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 5px;
}
