@charset "utf-8";
/* 스타워즈 PJ : main 공통 클래스 CSS - main_core.css */

/* 팀 공통 core 충돌시 보정 (팀core 아래서호출) */

.fx-box {
     /* 두개추가 */
  flex-wrap: wrap;
  justify-content: center;
}

/* 별도추가 */
body {
    /* 배경 */
    background: url(../images/main_images/star_night.jpg) no-repeat fixed left / cover;
  }

/* 공유기능 요소 셋팅 */
/* 검정버튼 */
.btn {
  /* 공통셋팅 */
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffe400;
  text-decoration: none;

  line-height: 2;
  text-align: center;
  display: block;
  width: 100px;
  height: 30px;
  background-color: #000;
  border-radius: 100px;
  border: 1px solid #fade4b;
  padding: 3px 10px;
  margin: 0 10px;
}
/* 노랑버튼 */
.btn.yellow {
  color: #222;
  background-color: #fade4b;
}
.btn:hover {
  color: #fff;
  border: 1px solid #fff;
}
.btn.yellow:hover {
  background-color: #fff075;
  color: #000;
  border: 1px solid #fade4b;
  transition: 0.4s;
}
/* ///////////////////////////////////////// */