
/*************  박스 공통 설정 *************/
/* 섹션 상단 여백 */
.section-top {
  padding-top: 15rem;
}

/* 슬라이드 내 박스 설정 */
.slider-wrap figcaption {
  margin-top: 4rem;

}



figcaption > h4 {
  margin-top: 2rem;
}

