@charset "utf-8";

/* sub_ahsoka : 미디어쿼리 CSS - sub_ahsoka_media */

/********* 최대사이즈 1204px 이하 시작 *********/
@media screen and (max-width: 1204px) {
  .top-banner .btn-box {
    margin-top: 2rem;
  }
  .ban-desc-box .desc{
    font-size: 2rem;
  }
  #info-area {
    height: 50%;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
  }

  /* 캐릭터 박스 한 줄에 4개씩 */
  .cbox ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .cbox ul li {
    grid-row: auto;
  }
  .section-top {
    margin-top: 5rem;
  }
}
/********* 최대사이즈 1204px 이하 끝 *********/

/********* 최대사이즈 923px 이하 시작 *********/
@media screen and (max-width: 923px) {
  .top-banner .ban-desc-box {
    justify-items: center;
  }
  #info-area {
    height: 30%;
  }
  .episode-box ul {
    grid-template-columns: repeat(2, 1fr);
 
  }
  .tiktoc-box ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
/********* 최대사이즈 923px 이하 끝 *********/

/********* 최대사이즈 780px 이하 시작 *********/
@media screen and (max-width: 780px) {
  #info-area {
    height: 10%;
  }
  #info-area h2 {
    font-size: 4rem;
  }
  #info-area .desc {
    font-size: 1.5rem;
  }
  #info-area .desc-box > div {
    margin-top: 2rem;
  }
  .cbox ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
/********* 최대사이즈 780px 이하 끝 *********/