@charset "utf-8";

/* sub_ahsoka : 미디어쿼리 CSS - sub_ahsoka_media */

/********* 최대사이즈 1520px 이하 시작 *********/
@media screen and (width: 1520px) {
  body > * {
    overflow-x: hidden;
  }
  .slider-wrap .col-8 {
    flex-basis: 50%;
  }
  .slider-wrap ul li .img-box {
    flex-basis: 50%;
  }
}
/********* 최대사이즈 1520px 이하 끝 *********/

/********* 최대사이즈 1360px 이하 시작 *********/
@media screen and (width: 1360px) {
  /* 캐릭터 박스 한 줄에 4개씩 */
  .cbox ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .cbox ul li {
    grid-row: auto;
  }
}
/********* 최대사이즈 1360px 이하 끝 *********/

/********* 최대사이즈 1204px 이하 시작 *********/
@media screen and (max-width: 1204px) {
  .top-banner .btn-box {
    margin-top: 2rem;
  }
  .ban-desc-box .desc{
    font-size: 1.2rem;
  }
  .video-box{

  }
}
/********* 최대사이즈 1204px 이하 끝 *********/