@charset "utf-8";

/* sub_ahsoka : 미디어쿼리 CSS - sub_ahsoka_media */

/********* 최대사이즈 1204px 이하 시작 *********/
@media screen and (max-width: 1204px) {
  body > * {
    overflow-x: hidden;
  }
  .top-banner .btn-box {
    margin-top: 2rem;
  }
  .ban-desc-box .desc{
    font-size: 2rem;
  }

  /* 캐릭터 박스 한 줄에 4개씩 */
  .cbox ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .cbox ul li {
    grid-row: auto;
  }
}
/********* 최대사이즈 1204px 이하 끝 *********/

/********* 최대사이즈 923px 이하 시작 *********/
@media screen and (max-width: 923px) {
  .top-banner .ban-desc-box {
    justify-items: center;
  }
  
  .episode-box ul {
    grid-template-columns: repeat(2, 1fr);
 
  }
  .tiktoc-box ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
/********* 최대사이즈 923px 이하 끝 *********/