/* Ahsoka Main 공통 CSS */

/********************** 공통 CSS **********************/
body {
  background-color: #000;
  background: url(../../public/images/sub_ahsoka_images/background.jpg)
  no-repeat fixed left / cover;
}
.cont-box{
  max-width: 1500px;
  margin: 0 auto;
  text-align-last: left;
}

/* 타이틀, 설명글 공통 */
.title {
  color: #fff;
  text-align: justify;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}
.desc {
  color: #fff;
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.5;
}

/*************  박스 공통 설정 *************/
/* 섹션 상단 여백 */
.section-top {
  padding-top: 15rem;
}
/* 슬라이드 내 박스 설정 */
.slider-wrap figcaption {
  margin-top: 4rem;
}
figcaption > h4 {
  margin-top: 2rem;
}





/*********************** 에피소드 가이드 영역 ***********************/
#episode-area {
  overflow: hidden;
}
.episode-box {
  margin-top: 3rem;
}
.episode-box ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: min(2rem, 1.2vw);
}
.episode-box li {
  cursor: pointer;
}
.episode-box .desc-box {
  height: 14vh;
  padding: 1rem 3rem;
  border-radius: 0 0 2rem 2rem;
  background-color: #1d1e1f;
}
.episode-box img {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}
.episode-box h3 {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 1.2rem;
}
.episode-box p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
  color: gray;
}

/*********************** 틱톡 영역 ***********************/
#tiktoc-area {
  overflow: hidden;
  margin-bottom: 10rem;
}
.tiktoc-box {
  margin-top: 3rem;
}
.tiktoc-box ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: min(2rem, 1.2vw);
}
.tiktoc-box li {
  cursor: pointer;
}
.tiktoc-box .desc-box {
  height: 5vh;
  padding: 3rem 2rem;
  border-radius: 0 0 2rem 2rem;
  background-color: #1d1e1f;
}
.tiktoc-box img {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}
.tiktoc-box h3 {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: left;
}

/*********************** 스크롤 등장액션 클래스 ***********************/
.scAct {
  transform: translateY(20%);
  opacity: 0;
  transition: 1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
/* 등장클래스+.on */
.scAct.on {
  transform: translateY(0);
  opacity: 1;
}

/*********************** 공통 core.css에서 보충 ***********************/
.under-line {
  margin-bottom: 5rem;
}
.title-box{
  margin-top: 1rem;
}