/* Ahsoka Main 공통 CSS */

/********************** 공통 CSS **********************/
body {
  background-color: #000;
  background: url(../../public/images/sub_ahsoka_images/background.jpg)
  no-repeat fixed left / cover;
}
.content-box {
  max-width: 1500px;
  margin: 0 auto;
  text-align-last: left;
}

/* 타이틀, 설명글 공통 */
.as-title {
  color: #fff;
  text-align: justify;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}
.as-desc {
  color: #fff;
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.5;
}

/*************  박스 공통 설정 *************/
/* 섹션 상단 여백 */
.as-section-top {
  padding-top: 15rem;
}
/* 슬라이드 내 박스 설정 */
.slider-wrap figcaption {
  margin-top: 4rem;
}
figcaption > h4 {
  margin-top: 2rem;
}

/*********************** 스크롤 등장액션 클래스 ***********************/
.scAct {
  transform: translateY(20%);
  opacity: 1;
  transition: 1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
/* 등장클래스+.on */
.scAct.on {
  transform: translateY(0);
  opacity: 1;
}

/*********************** 공통 core.css에서 보충 ***********************/
.under-line {
  margin-bottom: 5rem;
}
.title-box{
  margin-top: 1rem;
}