/* Ahsoka AsBanner CSS */

/*********************** 탑배너 영역 ***********************/
.as-top-banner {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
  }
  .top-banner .main-ban {
    height: 100vh;
  }
  .top-banner img{
    width: 100%;
  }
  .ban-desc-box {
    position: absolute;
    top: 10%;
    left: 55%;
    max-width: 40%;
  }
  .ban-logo {
    margin-bottom: 5rem;
  }
  .ban-desc-box .desc {
    top: 0;
    left: 0;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
  }
  .top-banner .btn-box {
    cursor: pointer;
    margin-top: 10rem;
    text-align: center;
  }
  .ban-desc-box a {
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap;
  }
  .ban-desc-box .btn1 {
    border-radius: 4.5vw;
    padding: 1.5vw 3vw;
    margin: 1rem;
    background-color: #ffe400;
  }
  .ban-desc-box .btn2 {
    border: 1px solid #ffe400;
    border-radius: 4.5vw;
    box-sizing: border-box;
    padding: 1.5vw 2.5vw;
    margin: 1rem;
  }
  .ban-desc-box .btn2 a {
    color: #fff;
  }