/* Ahsoka AsVideo CSS */

/*********************** 비디오 영역 ***********************/
#video-area {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.video-box {
  position: relative;
  aspect-ratio: 1250 / 703;
}
.video-box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}
.slide-peek-box {
  margin-top: 3rem;
}
.slide-peek-box ul {
  display: flex;
}
.slide-peek-box li {
  cursor: pointer;
  flex: 1;
}
.slide-peek-box h3 {
  font-size: 1.8rem;
  text-align: left;
}
.slide-peek-box .img-box {
  position: relative;
  aspect-ratio: 16/9;
}
.slide-peek-box .img-box img {
  width: 100%;
  height: 100%;
}
/* 플레이 아이콘 */
.slide-peek-box .img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  background: url(../../public/images/sub_ahsoka_images/icon/icon-play.png)
    no-repeat center/cover;
  z-index: 1;
}
