
/*************  1. info area *************/
.badbatch{
#info-area .cont-box.fx-box {
    margin: 0 auto;
  }
  
  #info-area .btn-link {
    text-align-last: left;
    margin-left: -1rem;
    margin-top: 2rem;
    .link-txt {
      color: #fff;
    }
  }
  
  #info-area .desc-box {
    width: 40%;
  }
  #info-area .desc-box > div {
    margin-top: 4rem;
  }
  
  .bulr-box {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 150vh;
    backdrop-filter: blur(20px) opacity(100%) saturate(50%) brightness(50%);
  }
  
  #info-area .imgbox img {
    width: 100%;
  }
  #info-area .imgbox {
    margin: 0 7rem;
    width: 40%;
  }
  #info-area {
    padding-top: 13rem;
    overflow: hidden;
  
    /* height: 80vh; */
    /* padding-bottom: 15rem; */
    backdrop-filter: blur(70px);
    background-image: linear-gradient(to top, #000000, #00000000, #00000000),
    url(../../public/images/sub_badbatch_img/poster_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  }