//2차 프로젝트 슬밋 / Login SCSS
@import "./variables/variables";
////import area//////////////////////////////////
:root {
    --font-title: "miller-display", serif;
    --section-margin: 100px;
    --fx-menu-gap: 0 20px;
    --margin-top-text: 20px;
    --margin-top-40: 40px;
    --padding110: 110px;
    --line-height: 1.2;
}

#login-area {
    height: 90vh;
    position: relative;
    background: url(../../public/images/main_images/star_night.jpg);
    background-color: $MainColor2;

    section {
        position: absolute;
        // width: 20vw;
        top: 48%;
        left: 50%;
        translate: -50% -50%;
        text-align: center;

        div+div,button{
            margin-bottom: 20px;
        }

        .title{
            margin: 40px 0;
        }
        .title {
            h3 {
                color: $FontColor3;
                font-size: $fontsize-title2;
                line-height: 1.4;
                font-weight: 200;
            }
        }
        .input-wrap {
            
            .saveId {
                margin-top: -20px;
                text-align: right;
                label {
                    color: $FontColor3;
                    font-size: $fontsize2;
                }
            }

            .input-box {
                height: 40px;
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .btn-wrap {
            button {
                width: 100%;
                height: 50px;
            }
            .desc-wrap {
                color: $FontColor3;
                font-weight: 200;
                font-size: $fontsize2;
                width: 100%;
                justify-content: space-between;

                margin-bottom: 40px;

                a {
                    margin-right: 5px;
                    font-weight: 400;
                    color: $FontColor3;

                    &:hover{
                        color: $PointColor3;
                    }
                }
            }
            .desc {
                font-weight: 200;
                color: $FontColor3;
                font-size: $fontsize2;
            }
        }
    }
}
