.fx-box{
    display: flex;
    /* flex-wrap: wrap; */
}
/* 에피소드 */
.ep-wrap,
.video-wrap,
.gallery-wrap {
  padding: 0 55px;
}

.ep-wrap h2 {
  padding-left: 1.5%;
}

.ep-img-wrap {
  position: relative;
}
.ep-img-wrap ul {
  position: relative;
  overflow: hidden;
}

.ep-img-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1280/720;
}
.ep-img-wrap ul li {
  position: relative;
  flex-basis: 33.3333%;
  flex-shrink: 0;
  scale: 0.9;
  cursor: pointer;
  left: 0;
  transition: 0.5s ease-in-out;
  will-change: left;
}

.ep-bg-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  background-color: #1d1e1f9a;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}

.ep-txt-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  opacity: 0;
  transform: translate(-50%, -50%);
  padding: 15px;
  transition: opacity 0.5s;
}

.ep-img-box:hover .ep-bg-box {
  opacity: 1;
}
.ep-img-box:hover .ep-txt-box {
  opacity: 1;
}

.ep-txt-box h3 {
  font-size: 1.8rem;
  margin-bottom: 2vh;
}
.ep-txt-box p {
  font-size: 1.4rem;
}
.epbtn1,
.vdbtn1 {
  display: none;
}

.abtn {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #fff;
  font-size: 3rem;
  text-align: center;
}
.abtn:hover {
  background-color: #ccc;
}

.ab1 {
  left: 0;
}
.ab2 {
  right: 0;
}