.mdinfo-area{


.fx-box{
    display: flex;
    /* flex-wrap: wrap; */
}
.main-img-box {
  position: relative;
}
.main-img-box > img {
  width: 100%;
  height: 100vh;

}

.main-img-title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 33%;
  margin-left: 5vw;
  transform: translateY(-50%);
}
.main-img-title img {
  width: 100%;
}
.main-img-title p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* 버튼초기화 */
button {
  cursor: pointer;
  margin: 0 2rem;
  background-color: transparent;
  border: transparent;
}
.btn-main a {
  color: #000;
}

.btn-main {
  height: 7vh;
  background-color: #ffe400;
  border-radius: 4.5vw;
  padding: 1vw;
  transition: 0.4s;
}

.btn-main:hover {
  background-color: #fff075;
}

.btn-sub {
  height: 7vh;
  border: 1px solid #ffe400;
  border-radius: 4.5vw;
  box-sizing: border-box;
  color: #ffe400;
  background-color: transparent;
  padding: 1vw;
  transition: 0.4s;
}
.btn-sub:hover {
  // color: #000;
  background-color: #ffe40020;
}

.btn-sub a {
  color: #ffe400;
}

.sub-blur-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../public/images/sub_themandalorian_images/main_poster2.jpeg)
    no-repeat top/cover;
  filter: blur(20px);
  z-index: -1;
}

.sub-img-box {
  position: relative;
  padding: 80px 70px;
  text-align: left;
}

.character-area h2 {
  margin-bottom: 10px;
}
.info-txt-box {
  margin-left: 3vw;
}

.info-txt-box .bullet,
.info-txt-box .desc {
  margin-top: 2rem;
}
.info-txt-box .desc {
  font-size: 1.6rem;
}

.sub-img-box > div > img {
  width: 100%;
  border-radius: 15px;
}
.rich-box {
  margin-top: 4rem;
}
.rich-box a {
  font-size: 1.6rem;
  color: #fff;
}
.title {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.inboxman h2 {
  font-size: 2.4rem;
  text-align: left;
  padding-left: 1.5%;
}
}