/* *************3-2. 컨텐츠영역(뉴스)************* */

.news-area {
    margin: 0px auto;
    box-sizing: border-box;
    padding: 10px 50px;
    background: linear-gradient(rgb(0, 0, 0) 80%, transparent);
    width: 100%;
    color: rgb(255, 255, 255);
 
  /* 왼쪽영역 */
  .left-wrap {
    box-sizing: border-box;
    padding: 10px;
    flex: 1 1 40%;
  }
  /* 오른쪽영역 */
  .right-wrap {
    position: relative;
    height: 85%;
    box-sizing: border-box;
    padding: 10px 50px;
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* 뉴스의오른쪽영역은 패딩조절 */
  .news-area.box.fx-box>.right-wrap {
    padding: 10px 0px;
  }
  
  /* 왼쪽박스 */
  .left-box {
    width: 100%;
  }
  /* 오른쪽박스 */
  .item-box {
    box-sizing: border-box;
    flex-basis: calc(100% / 3.05);
    width: 100%;
    padding: 40px 10px 0%;
  }
  /* 왼쪽이미지 */
  .left-box > .left-img {
    border-radius: 5px;
    aspect-ratio: 960 / 680;
    background: url("../../public/images/main_images/news01.jpg") center center / cover no-repeat;
    width: 100%;
  }
  /* 오른쪽이미지 */
  .right-wrap .item-box > .series-img {
    border-radius: 5px;
    aspect-ratio: 960 / 680;
    width: 100%;
  }
  
  
  /* 오른쪽이미지 */
 > .right-wrap.second > .item-box > .series-img {
    aspect-ratio: 1688 / 2500;
    border-radius: 5px;
    min-width: 143.33px;
    
  }
  
  
  /* 아이템 이미지개별 */
  .item-box:nth-of-type(1) > .series-img {
    background: url("../../public/images/main_images/news02.jpg") center center / cover no-repeat;
  }
  
  .item-box:nth-of-type(2) > .series-img {
    background: url("../../public/images/main_images/news03.jpg") center center / cover no-repeat;
  }
  
  .item-box:nth-of-type(3) > .series-img {
    background: url("../../public/images/main_images/news04.jpg") center center / cover no-repeat;
  }
  /* 버튼박스 */
  .btnbox {
    flex-basis: 50%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* 버튼 */
  .right-wrap .btn {
    margin-bottom: 10px;
  }
  
  /* 뉴스 오른쪽박스 제목 */
  .left-box > h2 {
    padding-bottom: 10px;
    font-size: 2rem;
  }
  /* 뉴스 왼쪽박스 제목 */
  .right-wrap > h4 {
    font-size: 1.8rem;
    position: absolute;
    left: 0;
    padding: 0 10px;
  }
  /* 뉴스 아이템박스 텍스트 */
  .right-wrap p.info {
    margin: 10px 3px;
    font-size: 1.3rem;
  
    /* 여러줄 말줄임표시 셋팅하기 */
    display: -webkit-box;
    overflow: hidden;
    /* 말줄임표시 */
    text-overflow: ellipsis;
    /* 보여줄 라인수 셋팅속성 */
    line-clamp: 3;
    -webkit-line-clamp: 3;
    /* 라인진행방향 셋팅 */
    -webkit-box-orient: vertical;
  }

/* 리스트 박스 텍스트 말줄임표시 */
.item-box>span.info {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

&> .right-wrap.second {
  margin: 100px 0px;
}

/* 리스트 제목 */
section.news-area > .right-wrap > h4 {
  padding: 0px 60px;
  font-size: 2rem;
  position: absolute;
}
/* 아이템박스 개별 제목텍스트 */
section.news-area > .right-wrap p.info {
  font-size: 1.3rem;
  white-space: nowrap;
}
/* 마지막상자 텍스트 줄넘김 방지로 줄임 */
strong.title-topic:last-of-type {
  font-size: 1.6rem;
}

section.news-area > .right-wrap > .item-box {
  flex-basis: 25%;
}
/* 개별이미지 */

> .right-wrap.second > .item-box:nth-of-type(1) > .series-img {
  background: url("../../public/images/main_images/series_01.jpg") center center / cover
    no-repeat;
}

 > .right-wrap.second > .item-box:nth-of-type(2) > .series-img {
  background: url("../../public/images/main_images/series_02.jpg") center center / cover
    no-repeat;
}

 > .right-wrap.second > .item-box:nth-of-type(3) > .series-img {
  background: url("../../public/images/main_images/series_03.jpg") center center / cover
    no-repeat;
}

 > .right-wrap.second > .item-box:nth-of-type(4) > .series-img {
  background: url("../../public/images/main_images/series_04.jpg") center center / cover
    no-repeat;
}

 > .right-wrap.second > .item-box:nth-of-type(5) > .series-img {
  background: url("../../public/images/main_images/series_05.jpg") center center / cover
    no-repeat;
}

 > .right-wrap.second > .item-box:nth-of-type(6) > .series-img {
  background: url("../../public/images/main_images/series_06.jpg") center center / cover
    no-repeat;
}

 > .right-wrap.second > .item-box:nth-of-type(7) > .series-img {
  background: url("../../public/images/main_images/series_07.jpg") center center / cover
    no-repeat;
}

 > .right-wrap.second > .item-box:nth-of-type(8) > .series-img {
  background: url("../../public/images/main_images/series_08.jpg") center center / cover
    no-repeat;
}
/* 버튼부모박스 */
// section.news-area > .right-wrap .btnbox {
  /* flex-basis: 30%;
  scale: 1.5; */
// }
/* 버튼 */

&> .right-wrap .btn {
  width: 140px;
  margin-bottom: 10px;
}
} //////////////////////// .news-area

/* 시리즈영역 클릭시 보일 가상요소( js로 on줘서 보이게하기) */
.item-box.on::before , .news-box.on::before {
 
  content: var(--content1);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000d3 var(--bg-image) no-repeat 10% center / 40%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 3rem;
  padding-left: 50%;
  padding-bottom: 20%;
  box-sizing: border-box;
  justify-content: flex-start;
  transition: opacity 0.3s;
  opacity: var(--opacity);
}

.item-box.on::after , .news-box.on::after{

  content:  var(--content2);
  position: fixed;
  text-align: justify;
  top: 50%;
  left: 50%;
  width: 40%;
  z-index: 1000;
  font-size: 1.3rem;
  line-height: 1.5;
  transition: opacity 0.3s;
  opacity: var(--opacity);
}


