/* *************3-1. 컨텐츠영역(세계관)************* */

section.content-area {
  aspect-ratio: 1600 / 2124;
  background: linear-gradient(rgb(21, 7, 43), transparent 40%, black),
    url("../../public/images/main_images/star_sword.png") center center / cover no-repeat;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;

  /* 대표제목 */
  > div:nth-of-type(1) {
    margin-top: 20%;
    flex-basis: 100%;
    color: rgb(255, 255, 255);
    font-size: min(6rem, 7vw);
    text-align: center;
  }

  h2.main_tit {
    text-shadow: black 0px 0px 10px;
    height: 100%;
    width: 100%;
  }
  /* 텍스트박스부모 */
  .txt-content {
    transition: 0.3s;
    backdrop-filter: hue-rotate(60deg);
    margin: 100px 50px;
    text-shadow: rgba(0, 0, 0, 0.47) 0px 2px 5px;
    position: relative;
    line-height: 1.5;
    padding: 20px;
    background: rgba(0, 0, 0, 0.71);
    display: flex;
    width: 400px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-grow: 0;
    height: fit-content;
  }

  .txt-content:hover {
    box-shadow: 0px 0px 40px #00ffff7a;
  }
  /* 텍스트박스 */
  .txt-content > h2 {
    padding: 10px 0px;
    text-align: center;
    font-size: 2.5rem;
  }

  .txt-content > span {
    padding: 40px 0px;
    font-size: 1.3rem;
    text-align: justify;
  }
}
