@charset "utf-8";

.badbatch{


body {
  text-align: center;
  position: relative;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;

  /* 공사중 */
  /* border: 2px dotted red; */
  /* 베이스 폰트 */
}

.btn-sub {
  a {
    color: yellow;
    font-weight: 200;
  }
}
.cont-box {
  max-width: 1500px;
}

.center-obj {
  /* font-size: 1.6rem; */
  text-align: center;
}

.desc {
  font-size: 1.6rem;
  font-weight: 200;
}


/*************  3. sns area *************/

#sns-area {
  position: relative;
}
.sns-slider-wrap {
  position: relative;
}
.sns-abtn-wrap {
  position: absolute;
  top: 42%;
  justify-content: space-between;
  width: 100%;
  translate: 0 -50%;
}

#sns-area .snsSlide {
  margin-top: 4rem;
  overflow: hidden;
}
#sns-area .snsSlide ul figcaption {
  width: 80%;
}
.snsSlide ul {
  gap: 0 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.snsSlide li {
  width: calc(100% / 6);
  padding-left: 2rem;
  margin-top: 2rem;
}

#sns-area .snsSlide ul li img {
  aspect-ratio: 340/415;
}


/*************  4. pos area *************/

#pos-area .tit-box > h3 {
  text-align: center;
  font-size: 5rem;
}
#pos-area .tit-wrap .tit-box {
  /* position: relative; */
  /* width: 30%; */
  /* top: 50%; */
  left: 50%;
  /* translate: -50% -50%; */
}

#pos-area .tit-wrap {
  position: relative;
  /* left: 50%; */
  /* translate: -50%; */
  width: 100vw;
  height: 60vh;

  background-image: linear-gradient(to top, #000000, #00000000),
    linear-gradient(
      to bottom,
      #000000,
      #00000000,
      #00000000,
      #00000000,
      #00000000
    ),
    url(../../public/images/sub_badbatch_img/poster_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 90%;
}

#pos-area .slider-wrap {
  margin-top: 2rem;
}
#pos-area .slider-wrap {
  margin-top: 10rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

#pos-area .slider-wrap li {
  border: 0px dashed #85e2ff;
  backdrop-filter: drop-shadow(inset 0px 0px 5px 3px #85e2ff);

  scale: 1;
  z-index: auto;
  transition: 0.2s;
}

#pos-area .slider-wrap li.on {
  scale: 1.4;
  z-index: 1;
  box-shadow: 53px 50px 50px 3px #00000080;
}

/***************** 포스터 클릭시 플로팅 되는 화면 *****************/
/* 

포스터 클릭시 가운데에
포스터 큰버전 + 설명텍스트+ 설명문구 노출
*/

.pos-data-wrap {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 레이어 안깔리게 */
  z-index: 999;
  opacity: 0;

  transition: 0.2s;
}
.pos-data-wrap.on {
  /* 컨텐츠 가운데 위치할 수 있도록 */
  display: flex;
  /* display: inline-block; */
  opacity: 1;
  /* display: inline; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 레이어 안깔리게 */
  z-index: 999;
}
.pos-data-wrap::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pos-data-box {
  overflow: hidden;
  border-radius: 2rem;
}

.pos-data-imgbox {
  width: 57%;
  overflow: hidden;
  border-radius: 2rem;
}

.pos-data-imgbox img {
  width: 100%;
}
.pos-data-text .bullet {
  margin-bottom: 2rem;
}

.pos-data-text h3 {
  font-size: 3.5rem;
  text-align-last: left;
}

.pos-data-text .close-btn {
  position: absolute;
  top: 0;
  /* left: -100%; */
  translate: 190%;
  width: 5rem;
  height: 5rem;
  color: #fff;
}

.pos-data-text .btn-link svg {
  width: 73%;
  translate: 50% -63%;
}
.pos-data-text .btn-link {
  height: 4rem;
  margin-top: 4rem;
  margin-left: -63%;
}

.pos-data-text {
  // margin-top: 40%;
  margin-left: 4rem;
  width: 40%;
}

/*************  5. footer banner *************/
#bt-banner-area {
  position: relative;
  margin-bottom: 40rem;
}

.sub-ban-wrap {
  position: relative;
  height: 50rem;

  overflow: hidden;
  border-radius: 4rem;
}

.sub-ban-wrap .desc-wrap {
  position: absolute;
  z-index: 1;
  top: 50%;
  translate: 14% -50%;
}

.sub-ban-wrap .sub-ban-img {
  overflow: hidden;
  height: 50rem;
}

/* 기본셋팅 */
.sub-ban-wrap .sub-ban-box {
  position: relative;
  top: 0;
  /* translate: 0 -50%; */
}

.sub-ban-wrap .sub-ban-img img {
  aspect-ratio: 1500 / 643;
}

/*********** abtn svg 공통설정 ***********/
.abtn {
  background-color: transparent;
  border-radius: 50%;
  width: 9rem;
  height: 4rem;
  color: rgb(255, 255, 255);
}

.imgbox {
  overflow: hidden;
  border-radius: 2rem;
}

/* 리스트 수정 */
ul li figcaption {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zoomImg > ul li figure img {
  width: 110%;
}
.zoomImg > ul li figure {
  position: relative;
  background-color: black;
}

.zoomImg > ul li:hover figure img {
  opacity: 0.4;
}
.zoomImg > ul li:hover figure::before {
  position: absolute;
  content: "more view";
  display: block;
  z-index: 1;
  color: #fff;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
div > ul li {
  line-height: 0;
  cursor: pointer;
}

div > ul figure {
  overflow: hidden;
  /* aspect-ratio: 188/106; */
  border-radius: 2rem;
}

.zoomImg > ul li:hover img {
  scale: 1.2;
  transform-origin: 50%;
}
.zoomImg > ul li img {
  width: 100%;
  transition: 0.2s;
  backdrop-filter: drop-shadow(5px 5px 5px 5px #00000060);
}

.close-btn span {
  width: 100%;
  height: 100%;
  color: #fff;
}

/* 링크버튼 애니 */
.btn-link img {
  transform-origin: 50% 50%;
  rotate: 0;
  transition: 0.2s;
}
.btn-link:hover img {
  rotate: 180deg;
}

.btn-link span {
  color: #fff;
  padding-left: 2rem;
}

.btn-link:hover svg {
  opacity: 1;
  stroke-dashoffset: 0;
}

.btn-link svg {
  translate: 21% -59%;
  fill: none;
  opacity: 0;
  stroke: #fff;
  stroke-width: 1;

  stroke-dashoffset: 140%;
  stroke-dasharray: calc(50% * 3);

  transition: stroke-dashoffset 0.4s ease-out, opacity 0.1s ease-out;
}
}