/* *****************************상단영역***************************** */

/* 커서 */
.cursor {
  
    filter: blur(30px);
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: aqua;
    transform-origin: center center;
    pointer-events: none;
    opacity: 0;
    z-index: 999999;
  }
  
  
  #top-area {
    position: fixed;
    width: 100%;
    /* 커서가 상단영역자식이라 
    푸터보다 z-index높게 */
    z-index: 101;
    padding-bottom: 20px;
    background: linear-gradient(180deg, rgb(0 35 128 / 49%) 30%, transparent);
  }
  
  #top-area a {
    text-shadow: 1px 1px 1px black;
    color: #fff;
  }
  
  /* 상단랩박스 정렬 */
  .wrapbox.inbox.fx-box {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  /* 로고박스 */
  .wrapbox.inbox.fx-box > h2 > a {
    position: relative;
    z-index: 100;
    display: block;
    max-width: 150px;
    margin: 0 auto;
    transition: 0.2s ease-out; /* 트랜지션 추가 */
    transform-origin: bottom;
    transform: perspective(110px);
    /* 로딩애니전 로고 안보이게 숨김 */
    opacity: 0;
    /* 애니 */
    animation: logo 1.5s ease-out 0.5s forwards;
  }
  
  /* 로딩로고애니 */
  @keyframes logo {
    0% {
      filter: drop-shadow(2px 2px 6px aqua);
      background-color: none;
      transform-origin: top;
      opacity: 1;
      transform: perspective(0px) rotateX(30deg);
    }
    85% {
      filter: drop-shadow(0px 0px 6px aqua);
      transform: auto;
    }
    100% {
      filter: drop-shadow(0px 0px 0px aqua);
      /* 로딩애니 후 로고 보이기 */
      opacity: 1;
    }
  }
  /* 로고호버시 변환 */
  .wrapbox.inbox.fx-box img:hover {
    filter: drop-shadow(2px 2px 6px aqua);
  }
  
  /* 로고박스이미지 */
  .wrapbox.inbox.fx-box img {
    transition: 0.15s;
    width: 100%;
  }
  /* ****************************** */
  .social-box.col-4 > ul {
    justify-content: flex-start;
  }
  
  /* 소셜박스 */
  .social-box li {
    margin: 5px;
    padding: 10px;
    border: 2px solid silver;
    border-radius: 30%;
    transition: 0.2s;
  }
  /* 소셜박스호버시 */
  .social-box li:hover {
    filter: drop-shadow(2px 2px 6px aqua);
  }
  /* 소셜박스 노랩 */
  .social-box.col-3 > ul {
    flex-wrap: nowrap;
  }
  /* 소셜박스 이미지 */
  #top-area .social-box a {
    filter: contrast(0) brightness(2);
    display: block;
    scale: 2;
    /* a일괄적용된것 여기만 덮기 */
    text-shadow: none;
  }
  
  /* js로 toggle */
  header#top-area ul.fx-box.on {
    height: 220px;
    opacity: 1;
  }
  
  
  /* ****************************** */
  /* 탑메뉴 왼쪽끝보내기 */
  .search-box.col-4 > ul {
    justify-content: flex-end;
  }
  .search-box > ul > li {
    margin: 1vw;
  }
  
  /* 탑메뉴 가상요소 공통  */
  .search-box.col-4 > ul > li > a::before {
    left: 50%;
    translate: -50%;
    position: relative;
    content: "";
    display: inline-block;
    height: 100%;
    aspect-ratio: 1/1;
  }
  /* 검색버튼 */
  .search-box.col-4 > ul > li:first-of-type > a::before {
    background: url(https://static-mh.content.disney.io/matterhorn/assets/starwars/navigation/SW_Nav_Search-74ab820c48e2.svg)
      no-repeat center center/contain;
  }
  /* 로그인버튼 */
  .search-box.col-4 > ul > li:last-of-type > a::before {
    background: url(https://static-mh.content.disney.io/matterhorn/assets/starwars/navigation/SW_Oneid_User-85043c6786ab.svg)
      no-repeat center center/contain;
  }
  .social-box.col-3 > ul::after {
    padding: 10px;
    height: 25px;
    width: 25px;
    content: "";
    position: relative;
    display: inline-block;
    background: url(https://lumiere-a.akamaihd.net/v1/images/sw_nav_kids_937ed58b.svg?region=0%2C0%2C40%2C15)
      no-repeat center / contain;
  }
  
  /* ****************************** */
  /* 네비 정렬 */
  nav.gnb-box.inbox {
    background: linear-gradient(
      45deg,
      transparent 25%,
      rgb(0 0 0),
      transparent 75%
    );
  }
  
  /* 네비 사이 마진 */
  nav ul.fx-box li + li {
    padding-left: 3vw;
  }
  /* 네비 글씨 */
  nav ul > li > a {
    /* 가상요소부모자격 */
    position: relative;
    font-size: 1.5rem;
    transition: 0.2s;
  }
  
  /* 네비 글씨 가상요소 */
  nav ul > li > a::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform-origin: center;
    transform: scaleX(0);
  
    filter: blur(1px);
    transition: 0.2s ease-out;
  }
  nav ul > li > a:hover {
    transform: rotate(15deg);
  }
  /* 개별컬러설정 */
  nav ul > li:nth-child(1) > a::after {
    border-bottom: 3px solid aqua;
  }
  nav ul > li:nth-child(2) > a::after {
    border-bottom: 3px solid rgb(149, 255, 0);
  }
  nav ul > li:nth-child(3) > a::after {
    border-bottom: 3px solid rgb(252, 103, 255);
  }
  /* 호버시 가상요소 가로스케일 */
  nav ul > li > a:hover::after {
    transform: scaleX(1);
  }
  

  /* *************************상단 공통 미디어 쿼리************************* */
@media screen and (max-width: 700px) {

    .social-box.col-4 > ul > li {
      flex-basis: 50%;
    }
  
    .social-box.col-4 > ul {
      position: absolute;
      padding-top: 40px;
      height: 0px;
      /* height: 220px; */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      overflow: hidden;
      transition: 0.2s ease-out;
      pointer-events: all;
    }
  
    /* 소셜박스위치 상세수정 */
    /* 소셜박스 위치상세수정 */
  
    a.fa-solid.fa-play {
      translate: 3px;
    }
  
    a.fa-brands.fa-youtube {
      translate: -1px;
    }
  
    a.fa-brands.fa-instagram {
      translate: 1px;
    }
  
    .social-box.col-4 > ul > li {
      flex-basis: 50%;
      aspect-ratio: 1 / 1;
    }
  
    /* 가상요소 부모박스 클릭안되게 */
    .social-box.col-4 {
      pointer-events: none;
    }
    /* 가상요소 (클릭all) */
    .social-box.col-4::after {
      padding: 7px;
      line-height: 0.5;
      top: 20px;
      aspect-ratio: 1 / 1;
      position: absolute;
      content: "+";
      color: #fff;
      font-size: 5rem;
      font-weight: bold;
      transition: 0.2s ease-out;
      pointer-events: all;
  
    /* js에서 가상요소 변경하기!!! */
    transform: var(--transform, rotate(0deg));
    filter: var(--filter , drop-shadow(0px 0px 0px aqua));
    }
    .search-box.col-4 > ul {
      scale: 1.2;
    }
  }
  /********* 최대사이즈 700px 이하 끝 *********/
  /********* 최대사이즈 500px 이하 시작 *********/
  @media screen and (max-width: 500px) {
    .cursor {
      display: none;
    }
  }
  /********* 최대사이즈 500px 이하 끝 *********/
  
  